# Data Transform

In this notebook, we will ask you a series of questions to evaluate your findings from your EDA. Based on your response & justification, we will ask you to also apply a subsequent data transformation. 

If you state that you will not apply any data transformations for this step, you must **justify** as to why your dataset/machine-learning does not require the mentioned data preprocessing step.

The bonus step is completely optional, but if you provide a sufficient feature engineering step in this project we will add `1000` points to your Kahoot leaderboard score.

You will write out this transformed dataframe as a `.csv` file to your `data/` folder.

**Note**: Again, note that this dataset is quite large. If you find that some data operations take too long to complete on your machine, simply use the `sample()` method to transform a subset of your data.

In [28]:
import pandas as pd
import numpy as np

data_set = pd.read_csv("../data/bank_transactions_reduced.csv")
data_set.sample(5)

,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2878,PAYMENT,10455.15,C367193063,0.0,0.00,M493966377,0.00,0.00,0,0
6150,CASH_OUT,294507.67,C1566166372,0.0,0.00,C1336749144,313137.27,607644.93,0,0
4793,PAYMENT,16945.33,C690416402,0.0,0.00,M1383636161,0.00,0.00,0,0
1123,TRANSFER,571619.32,C370149476,0.0,0.00,C1234971247,1534272.83,2105892.15,0,0
42,CASH_OUT,35413.26,C245900981,106146.0,70732.74,C783685787,997812.30,1033225.56,0,0

## Q1

Does your model contain any missing values or "non-predictive" columns? If so, which adjustments should you take to ensure that your model has good predictive capabilities? Apply your data transformations (if any) in the code-block below.

Answer here

- The non-predictive columns are `nameOrig`, `nameDest`, `isFlaggedFraud`l. We can use `df.drop()` to remove these columns.

In [29]:
data_set = data_set.drop(columns=['nameOrig', 'nameDest', 'isFlaggedFraud'])
data_set.head()

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,CASH_IN,63516.66,54465.00,117981.66,0.00,0.00,0
1,CASH_IN,159445.40,227600.92,387046.31,751211.13,591765.73,0
2,CASH_IN,77739.33,2040.00,79779.33,50056.00,2532.04,0
3,CASH_OUT,135334.88,48786.00,0.00,0.00,135334.88,0
4,CASH_IN,118393.70,50962.00,169355.70,0.00,167607.91,0

## Q2

Do certain transaction types consistently differ in amount or fraud likelihood? If so, how might you transform the type column to make this pattern usable by a machine learning model? Apply your data transformations (if any) in the code-block below.

Answer here

- In the EDA, we found out that most fraudulent transactions are either `CASH_OUT` or `TRANSFER`. To make this column usable for machine learning models, we can use One Hot Encoding `.get_dummies()`.

In [30]:
encoded_data = pd.get_dummies(data_set, columns=["type"])
encoded_data.head()

,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,63516.66,54465.00,117981.66,0.00,0.00,0,True,False,False,False,False
1,159445.40,227600.92,387046.31,751211.13,591765.73,0,True,False,False,False,False
2,77739.33,2040.00,79779.33,50056.00,2532.04,0,True,False,False,False,False
3,135334.88,48786.00,0.00,0.00,135334.88,0,False,True,False,False,False
4,118393.70,50962.00,169355.70,0.00,167607.91,0,True,False,False,False,False

## Q3

After exploring your data, you may have noticed that fraudulent transactions are rare compared to non-fraudulent ones. What challenges might this pose when training a machine learning model? What strategies could you use to ensure your model learns meaningful patterns from the minority class? Apply your data transformations (if any) in the code-block below.

Answer here

- Since the fraudulent transactions are the minority class, it will cause class imbalance and the model overfit to the majority class, which is the non-fraudulent transactions. To ensure the model learn meaningful patterns, we can use SMOTE to create synthetic minority data.

In [31]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\user\miniconda3\envs\ds\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\user\miniconda3\envs\ds\lib\site-packages (from imblearn) (0.13.0)
Requirement already satisfied: numpy<3,>=1.24.3 in c:\users\user\miniconda3\envs\ds\lib\site-packages (from imbalanced-learn->imblearn) (2.2.4)
Requirement already satisfied: scipy<2,>=1.10.1 in c:\users\user\miniconda3\envs\ds\lib\site-packages (from imbalanced-learn->imblearn) (1.15.2)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in c:\users\user\miniconda3\envs\ds\lib\site-packages (from imbalanced-learn->imblearn) (1.6.1)
Requirement already satisfied: sklearn-compat<1,>=0.1 in c:\users\user\miniconda3\envs\ds\lib\site-packages (from imbalanced-learn->imblearn) (0.1.3)
Requirement already satisfied: joblib<2,>=1.1.1 in c:\users\user\miniconda3\envs\ds\lib\site-packages (from imbalanced-learn->imblearn) (1.4.2)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in c:\users\user\miniconda3\envs\ds\lib\site-packages (from imbalanced-learn->imblearn) (3.5.0)

In [33]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
X = encoded_data.drop('isFraud', axis=1)
y = encoded_data['isFraud']

In [34]:
# Apply SMOTE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X_train, y_train)

c:\Users\user\miniconda3\envs\ds\Lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] The system cannot find the file specified
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "c:\Users\user\miniconda3\envs\ds\Lib\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "c:\Users\user\miniconda3\envs\ds\Lib\subprocess.py", line 550, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\miniconda3\envs\ds\Lib\subprocess.py", line 1028, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "c:\Users\user\miniconda3\envs\ds\Lib\subprocess.py", line 1540, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

In [35]:
# Create a new DataFrame with the resampled data
df_resampled = pd.DataFrame(X_resampled, columns=X.columns)
df_resampled['target'] = y_resampled

## Bonus (optional)

Are there interaction effects between variables (e.g., fraud and high amount and transaction type) that aren't captured directly in the dataset? Would it be helpful to manually engineer any new features that reflect these interactions? Apply your data transformations (if any) in the code-block below.

Answer Here

In [36]:
# write out newly transformed dataset to your folder
df_resampled.to_csv('../data/bank_transactions_transformed.csv')